@import './variables';
@import './bootstrap';

.section-spotlight {
  padding: ($spacer * 2.5);
}

.spotlight-title {
  margin: 0 0 ($spacer * 0.5);
  font-weight: bold;
  font-size: 180%;
  color: $secondary;
}

.spotlight-text {
  margin: 0 0 ($spacer * 1.5);
  max-width: 60%;
  font-size: 105%;
}

.spotlight-video {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: ($border-radius * 2);
}
