@import '../../assets/styles/variables';

.Example {
  .description {
    font-size: 120%;
  }

  .figure {
    margin: 0;
  }

  .figure-img {
    &:hover {
      border: 1px solid $primary;
    }
  }

  .figure-caption {
    font-size: 85%;
    margin-top: $spacer * 0.4;
  }
}

hr.divider {
  margin: $spacer * 1 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
